@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
	font-family: 'Lato', sans-serif;
	background-image: url('./bg.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

input:focus, textarea:focus, li:focus, button:focus {
	outline: none;
}

label {
	font-size: 0.6rem;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
}

button {
	color: #FEA900;
	background-color: white;
	border: 1px solid #FEA900;
	padding: 1em 5em;
	font-size: 0.6;
	margin: 1rem;
	text-transform: uppercase;
}

::placeholder {
	color: white;
	opacity: 1;
}

.listNoStyle, .mobileRow {
	list-style-type: none;
	padding-left: 0rem;
	margin: 1rem;
}

.react-tabs__tab-list {
	padding-left: 0rem;
}

.tabStyle {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-size: 80px;
	margin-bottom:1rem;
}

.tabStyle:hover, .react-tabs__tab--selected > .tabStyle, button:hover {
	filter: drop-shadow(0 0 0.3rem #FEA900);
}

.header {
	font-size: 4rem;
	text-transform: uppercase;
}

.error {
	font-style: italic;
	color: white; text-shadow: 0 0 15px;
}

.banner {
	width: 100%;
	height: auto;
}

.displayStyle {
	padding: 1rem 0 0.4rem;
}

input[type=text], .DayPickerInput > input {
	background: transparent !important;
	border: none;
	margin: 0rem 1rem 0.2rem 0.5rem;
	padding: 1rem 0 0.2rem 0;
	min-width:12rem;
}

.imgContainer input[type=text], .DayPickerInput > input {
	border-bottom: 1px solid white;
	color: white;
}

.imgContainer {
	height: 76vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
}

.imgContainer form {
	text-align: center;
	color: white;
	text-shadow: 0 0 15px;
}

.imgContainer label, .imgContainer {
	color: white;
	text-shadow: 0 0 15px;
}

.job {
	padding: 0.5rem 2rem 1rem;
	background-color: rgba(255,255,255,0.75);
}

.job form {
	color: black;
}

.jobOutcomes {
	text-transform: uppercase;
	background: black;
	color: white;
	text-shadow: 0 0 15px;
	padding: 0.5rem 2rem;
}

.jobTitles {
	padding: 0.6rem 0 0.2rem 0;
}

.swipeText {
	display: contents;
	color: #e5e5e5;
}

.DayPickerInput-OverlayWrapper{
	color: black; text-shadow: none;
}

/* Layout */

.itemWidth {
	width: 33.33%;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.startOnAxis {
	justify-content: flex-start;
}

.endOnAxis {
	justify-content: flex-end;
}

.centerOnAxis {
	justify-content: center;
}

.spaceBetweenOnAxis {
	justify-content: space-between;
}

.alignSelfEnd {
	align-self: flex-end;
}

.flexGrow {
	flex-grow: 1;
}

.centerOnCrossAxis {
	align-items: center;
}

/* Media Queries */
@media only screen and (max-width: 830px) {
	.mobileColumn {
		display:flex;
		flex-direction: column;
	}
	.mobileRow {
		display:flex;
		flex-direction: row;
		padding: 0rem;
		margin: 0rem;
	}
	.tabStyle {
		margin-bottom: 0rem;
	}
	.itemWidth {
		width: 100%;
	}
	.imgContainer {
		height: auto;
	}
	button {
		height: 2.5rem;
	}
}
